@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>Esta é uma aplicação simples que simula um sistema inicial de uma livraria. Até o momento é simplesmente um catálogo de livros onde podem ser cadastradas publições com diversas informações, inclusive com um link para compra online.</h3>

<p>Autor: Vinícius Serraglio Baum - 2020.</p>
