@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>Entre em contato para maiores informações</h3>

<address>
    <strong>Telefone:</strong> 65-999061985
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:vinibaum@gmail.com">vinibaum@gmail.com</a><br />
</address>