@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Seja bem vindo!</h1>
    <p class="lead">A nossa livraria tem o melhor catálogo de livros para você.</p>
    <p><a href="../Livros/Galeria" class="btn btn-primary btn-lg">Acessar &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Catálogo</h2>
        <p>
            Novidades das editoras
        </p>

        <p><a class="btn btn-default" href="../Livros/Galeria">Acesse &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cadastro de Livros</h2>
        <p>Utilize nosso banco de dados para cadastrar os livros de sua preferência que ainda não estão por aqui.</p>
        <p><a class="btn btn-default" href="../Livros/Index">Cadastre &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pesquise Publicações</h2>
        <p>Encontre livros buscando por seu título ou nome do autor.</p>
        <p><a class="btn btn-default" href="../Livros/Pesquisar">Pesquise &raquo;</a></p>
    </div>
</div>